@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  color: silver;
  border: 1px solid white;
  padding: 4rem;
  border-radius: 50px;
  width: 75%;
}

.digits {
  font-size: 7rem;
}

.text {
  font-size: 2rem;
}
.time {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Orbitron", sans-serif;
  margin-left: 65px;
}

#btn-container {
  text-align: center;
  margin-top: 3rem;
}

.btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  margin: 0rem 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

#start {
  background-color: green;
}
#start:hover {
  background: linear-gradient(to right, #00b712, #00e936);
}
#stop {
  background-color: red;
}
#stop:hover {
  background: linear-gradient(to right, #d60000, #ff4d4d);
}

#reset {
  background-color: blue;
}
#reset:hover {
  background: linear-gradient(to right, #1e90ff, #87cefa);
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #ccc;
}
